package {protocol}

import (
	"github.com/sheng855174/elastictic/packetbeat/config"
	"github.com/sheng855174/elastictic/packetbeat/protos"
)

type {protocol}Config struct {
	config.ProtocolCommon `config:",inline"`
}

var (
	defaultConfig = {protocol}Config{
		ProtocolCommon: config.ProtocolCommon{
			TransactionTimeout: protos.DefaultTransactionExpiration,
		},
	}
)

func (c *{protocol}Config) Validate() error {
	return nil
}
